{% extends 'core/email/base.html' %}
{% block preheader %}Please confirm your email address in order to activate your account{% endblock preheader %}
{% block main %}
  <p>Hello {{user_name}},</p>
  <p style="font-weight: 600; font-size: 24px; margin: 0; margin-bottom: 24px; color: #000000; line-height: 32px;">Is your email address {{user_email}}?</p>
  <p style="margin: 0; margin-bottom: 24px;">Please confirm your email address for {{site_name}} by clicking the button below:</p>
  {% include 'core/email/includes/action_button.html' with text='Confirm email address' action_url=activate_url %}
{% endblock main %}

{% block presig %}
  If {{user_email}} isn't your email address, you may safely ignore this email.
{% endblock presig %}
