{% extends "core/layouts/application.html" %}
{% load component_tags %}
{% block title %}Logout{% endblock %}
{% block main %}
<form method="post" action="{% url 'account_logout' %}" x-init="$el.submit()">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <div class="flex justify-center mt-24">
    <button type="submit" x-data x-btn:xl>Click to Sign Out</button>
  </div>
</form>
{% endblock main %}