{% extends 'core/layouts/base.html' %}
{% block title %}Password Reset{% endblock %}
{% block content %}
  <div class="py-14 sm:py-32 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <a href="{% url 'index' %}" class="flex justify-center">
        {% include "core/includes/logo.html" %}
      </a>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Password Reset
      </h2>
    </div>
    {% for message in messages %}
      {% #alert variant=message.level_tag dismissable=True class="mt-8 sm:mx-auto sm:w-full sm:max-w-md" headline=message %}
    {% endfor %}
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <p class="text-gray-700 text-sm text-center">
        We have sent you a password reset email.
      </p>
    </div>
  </div>
{% endblock content %}
