<li class="relative md:flex-1 md:flex">
  <div class="group flex items-center">
    <span class="px-6 py-4 flex items-center text-sm font-medium">
      <span class="flex-shrink-0 w-10 h-10 flex items-center justify-center border-2 border-gray-300 rounded-full">
        <span class="text-gray-500">{{index}}</span>
      </span>
      <span class="ml-4 text-sm font-medium text-gray-500">{{name}}</span>
    </span>
  </div>
  {% if not last %}
    {% include "core/steps/separator.html" %}
  {% endif %}
</li>
