{% load django_vite %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {# The require_title var is not set and will cause pytest to fail if not overriden by the child template. #}
    <title>{% block title %}{{require_title}}{% endblock title %} - django-base</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% vite_hmr_client %}
    {% block vite_assets %}{% vite_asset 'js/main.js' %}{% endblock vite_assets %}
  </head>

  <body class="{% block body_class %}bg-indigo-50{% endblock body_class %}">
    {% block content %} {% endblock content %}
  </body>
</html>
