{% extends "core/layouts/base.html" %}
{% block content %}

<div x-data class="space-y-4 m-8">
    <h2 class="text-xl text-center font-semibold text-gray-700">Heroicons</h2>
    <div class="flex space-x-2">
    {% heroicon "check-circle" %}
    {% heroicon "check-circle" "solid" %}
    {% heroicon "check-circle" "mini" %}
    {% heroicon "check-circle" "outline" class="w-8 h-8 text-green-500" %}
    {% heroicon "check-circle" "mini" class="w-8 h-8 text-green-500" %}
    </div>
</div>
<div x-data class="space-y-4 m-8">
    <h2 class="text-xl text-center font-semibold text-gray-700">Buttons</h2>
    <div class="space-x-2">
        <button class="btn btn-primary btn-xs">Primary</button>
        <button class="btn btn-secondary btn-sm">Secondary</button>
        <button class="btn btn-white btn-md">White</button>
        <button class="btn btn-danger btn-lg">Danger</button>
    </div>
    <div class="space-x-2">
        <button class="btn btn-primary btn-xs" disabled>Primary</button>
        <button class="btn btn-secondary btn-sm" disabled>Secondary</button>
        <button class="btn btn-white btn-md" disabled>White</button>
        <button class="btn btn-danger btn-lg" disabled>Danger</button>
    </div>
    <div class="space-x-2">
        <button x-btn-icon:left="academic-cap" class="btn btn-primary btn-xs">Icon Left</button>
        <button x-btn-icon:left="academic-cap" class="btn btn-secondary btn-sm">Icon Left</button>
        <button x-btn-icon:left="academic-cap" class="btn btn-white btn-md">Icon Left</button>
        <button x-btn-icon:left="academic-cap" class="btn btn-danger btn-lg">Icon Left</button>
        <button x-btn-icon:left.outline="academic-cap" class="btn btn-danger btn-lg">Icon Left Outline</button>
        <button x-btn-icon:right.outline="academic-cap" class="btn btn-primary btn-xl">Icon Right Outline</button>
        <button x-btn-icon:right="academic-cap" class="btn btn-primary btn-xl">Icon Right</button>
        <button x-btn-icon:left="check-circle" x-btn-icon:right="academic-cap" class="btn btn-primary btn-md" disabled>Both icons, disabled</button>
    </div>
    <div class="space-x-2">
        <button class="btn">Default button</button>
        <button class="btn" disabled>Default button, disabled</button>
        <button class="btn" x-btn-icon:left="academic-cap">Default button, with icon</button>
    </div>

</div>

<div class="space-y-4 m-8">
    <h2 class="text-xl text-center font-semibold text-gray-700">Links</h2>
    <a href="#" class="link">Default link</a>
    <a href="#" class="link text-sm">Small link</a>
</div>

<div x-data class="space-y-4 m-8">
    <h2 class="text-xl text-center font-semibold text-gray-700">Alerts</h2>

    {% #alert headline="No modifiers, no body." %}

    {% #alert dismissable=True headline="Dismissable, no body." %}

    {% alert variant="info" dismissable=True headline="Dismissable, no body." %}
        <p>Hello, world!</p>
    {% endalert %}

    {% alert variant="warning" dismissable=True headline="Warning" %}
        <p>Hello, world!</p>
    {% endalert %}

    {% alert variant="error" dismissable=True headline="Error" %}
        <p>Hello, world!</p>
    {% endalert %}

    {% alert variant="success" dismissable=True headline="Success" %}
        <p>Hello, world!</p>
    {% endalert %}
</div>

<div x-data class="m-8 space-y-4">
    <h2 class="text-xl text-center font-semibold text-gray-700">Modal</h2>

    <div x-data="{ open: false }">
        <span x-on:click="open = true">
            <button type="button" class="bg-white px-5 py-2.5 rounded-md shadow">
                Open modal
            </button>
        </span>
        {% modal show="open" %}
            This is a bare modal.
        {% endmodal %}
    </div>

    <div x-data="{ open: false }">
        <span x-on:click="open = true">
            <button type="button" class="bg-white px-5 py-2.5 rounded-md shadow">
                Open submit modal with no modifiers
            </button>
        </span>
        {% modal-submit show="open" %}
            This is text in a submit modal.
        {% endmodal-submit %}
    </div>

    <div x-data="{ open: false }">
        <span x-on:click="open = true">
            <button type="button" class="bg-white px-5 py-2.5 rounded-md shadow">
                Open submit modal with all modifiers
            </button>
        </span>
        {% modal-submit show="open" title="Title" icon="academic-cap" name="test_name" value="test_value" label="Confirm" formaction="" formnovalidate=False %}
            This is text in a submit modal.
        {% endmodal-submit %}

    </div>

</div>
{% endblock %}