{% extends "core/layouts/base.html" %}
{% block content %}
<div x-data class="space-y-4 m-8">
    <h2 class="text-xl text-center font-semibold text-gray-700">Heroicons</h2>
    <div class="flex space-x-2">
    <span x-heroicon="check-circle" class="w-6 h-6 text-green-500"></span>
    <span x-heroicon:solid="check-circle" class="w-6 h-6 text-green-500"></span>
    <span x-heroicon:solid.20="check-circle" class="w-6 h-6 text-green-500"></span>
    <span x-heroicon:solid.24="check-circle" class="w-6 h-6 text-green-500"></span>
    <span x-heroicon:outline="check-circle" class="w-6 h-6 text-green-500"></span>
    <span x-heroicon:outline.20="check-circle" class="w-6 h-6 text-green-500"></span>
    <span x-heroicon:outline.24="check-circle" class="w-6 h-6 text-green-500"></span>
    </div>
</div>
<div x-data class="space-y-4 m-8">
    <h2 class="text-xl text-center font-semibold text-gray-700">Buttons</h2>
    <div class="flex space-x-2">
        <button x-btn:xs.primary>Primary</button>
        <button x-btn:sm.secondary>Secondary</button>
        <button x-btn:md.white>White</button>
        <button x-btn:lg.danger>Danger</button>
    </div>
    <div class="flex space-x-2">
        <button x-btn:xs.primary.disabled>Primary</button>
        <button x-btn:sm.secondary.disabled>Secondary</button>
        <button x-btn:md.white.disabled>White</button>
        <button x-btn:lg.danger.disabled>Danger</button>
    </div>
    <div class="flex space-x-2">
        <button x-btn:md.primary="{ iconLeft: 'academic-cap' }">Icon Left</button>
        <button x-btn:md.secondary="{ iconLeft: 'academic-cap' }">Icon Left</button>
        <button x-btn:md.white="{ iconLeft: 'academic-cap' }">Icon Left</button>
        <button x-btn:md.danger="{ iconLeft: 'academic-cap' }">Icon Left</button>
        <button x-btn:md.primary="{ iconRight: 'academic-cap' }">Icon Right</button>
        <button x-btn:md.primary="{ iconLeft: 'check-circle', iconRight: 'academic-cap', disabled: true }">Both icons, disabled</button>
    </div>

</div>
<div x-data class="space-y-4 m-8">
    <h2 class="text-xl text-center font-semibold text-gray-700">Alerts</h2>

    <div x-alert="No modifiers, no body.">
    </div>

    <div x-alert.dismissable="Dismissable, no body">
    </div>

    <div x-alert:info.dismissable="Info">
        <p>Hello, world!</p>
    </div>

    <div x-alert:success.dismissable="Success">
        <p>Hello, world!</p>
    </div>

    <div x-alert:warning.dismissable="Warning">
        <p>Hello, world!</p>
    </div>

    <div x-alert:error.dismissable="Error">
        <p>Hello, world!</p>
    </div>

</div>
<div x-data class="m-8 space-y-4">
    <h2 class="text-xl text-center font-semibold text-gray-700">Modal</h2>

    <div x-data="{ open: false }">
        <span x-on:click="open = true">
            <button type="button" class="bg-white px-5 py-2.5 rounded-md shadow">
                Open modal
            </button>
        </span>
        <div x-modal:open>
        This is a bare modal.
        </div>
    </div>

    <div x-data="{ open: false }">
        <span x-on:click="open = true">
            <button type="button" class="bg-white px-5 py-2.5 rounded-md shadow">
                Open submit modal with no modifiers
            </button>
        </span>
        <div x-modal:open.submit="{title: 'Title'}">
            This is text in a submit modal.
        </div>
    </div>


    <div x-data="{ open: false }">
        <span x-on:click="open = true">
            <button type="button" class="bg-white px-5 py-2.5 rounded-md shadow">
                Open submit modal with all modifiers
            </button>
        </span>
        <div x-modal:open.submit.danger.formnovalidate="{ icon: 'academic-cap', submitName: 'test_name', submitValue: 'test_value', title: 'Title', submitLabel: 'Confirm', formAction: '' }">
            This is text in a submit modal.
        </div>
    </div>

</div>
{% endblock %}