{% extends "layouts/base.html" %}
{% block content %}
<div x-data class="space-y-4 m-8">
    <h2 class="text-xl text-center font-semibold text-gray-700">Heroicons</h2>
    <div class="flex space-x-2">
    <div x-heroicon="check-circle" class="w-6 h-6 text-green-500"></div>
    <div x-heroicon:solid="check-circle" class="w-6 h-6 text-green-500"></div>
    <div x-heroicon:solid.20="check-circle" class="w-6 h-6 text-green-500"></div>
    <div x-heroicon:solid.24="check-circle" class="w-6 h-6 text-green-500"></div>
    <div x-heroicon:outline="check-circle" class="w-6 h-6 text-green-500"></div>
    <div x-heroicon:outline.20="check-circle" class="w-6 h-6 text-green-500"></div>
    <div x-heroicon:outline.24="check-circle" class="w-6 h-6 text-green-500"></div>
    </div>
</div>
<div x-data class="space-y-4 m-8">
    <h2 class="text-xl text-center font-semibold text-gray-700">Alerts</h2>

    <div x-alert="No modifiers, no body.">
    </div>

    <div x-alert.dismissable="Dismissable, no body">
    </div>

    <div x-alert:info.dismissable="Info">
        <p>Hello, world!</p>
    </div>

    <div x-alert:success.dismissable="Success">
        <p>Hello, world!</p>
    </div>

    <div x-alert:warning.dismissable="Warning">
        <p>Hello, world!</p>
    </div>

    <div x-alert:error.dismissable="Error">
        <p>Hello, world!</p>
    </div>

</div>
<div x-data class="m-8">
    <h2 class="text-xl text-center font-semibold text-gray-700">Modal</h2>

    <div x-data="{ open: false }">
        <!-- Trigger -->
        <span x-on:click="open = true">
            <button type="button" class="bg-white px-5 py-2.5 rounded-md shadow">
                Open modal
            </button>
        </span>
     
        <!-- Modal -->
        <div x-modal="open">
        This is a bare modal.
        </div>
        
    </div>
</div>
{% endblock %}