{% load heroicons %}
<{{el}}
{% if href %}href="{{href}}"{% else %}type="{{type}}"{% endif %}
{% if click %}x-on:click="{{click}}"{% endif %}
{% if formnovalidate %}formnovalidate{% endif %}
class="{{button_class}}"
{{disabled|yesno:" disabled,"}}
{% for arg, val in kwargs.items %}{{arg}}="{{val}}"{% endfor %}
>
{% if left_icon %}
  {% heroicon_solid left_icon class=left_icon_class %}
{% endif %}
{{text}}
{% if right_icon %}
  {% heroicon_solid right_icon class=right_icon_class %}
{% endif %}
</{{el}}>
