{% load heroicons %}
<div x-data x-menu x-cloak class="relative z-10 flex-shrink-0">
  <div class="flex sm:justify-center px-4 sm:px-0">
    <button x-menu:button type="button" class="flex flex-col font-medium text-sm focus:outline-none">
      <span class="block text-sm text-gray-700 text-right">{{org_name}}</span>
      <span class="block text-sm text-gray-500 text-right">{{user_email}}</span>
      <span class="sr-only">Open user menu</span>
    </button>
    <div x-menu:items x-cloak x-transition.origin.top.right class="origin-top-right absolute sm:right-0 mt-12 w-52 divide-y divide-gray-100 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none">
      <div class="px-4 py-3" role="none">
      <p class="text-sm" role="none">Signed in as</p>
      <p class="text-sm font-medium text-gray-900" role="none">{{org_name_extended}}</p>
    </div>
    {% if available_orgs %}
    <form action="{% url 'org_switch' %}" method="POST">
      {% csrf_token %}
      {% for org in available_orgs %}
        <button x-menu:item type="submit" name="slug" value="{{org.slug}}" class="flex items-center w-full px-4 py-2 text-sm hover:bg-gray-100 text-gray-700" role="menuitem">{% heroicon_outline "arrows-right-left" class="w-5 h-5 mr-2 text-gray-600" %}<span>{{org.name}}</span></button>
      {% endfor %}
    </form>
    {% endif %}
    <div>
      <a x-menu:item href="{% url 'user:logout' %}" class="block px-4 py-2 text-sm hover:bg-gray-100 text-gray-700" role="menuitem">Sign out</a>
    </div>
    </div>
  </div>
</div>