{% extends 'base.html' %}
{% block content %}
  <div class="py-14 sm:py-32 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <a href={%url 'index' %} class="flex justify-center">
        {% include "logo.html" %}
      </a>
      {% if token_fail %}
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
          Bad Password Reset Token
        </h2>
      {% else %}
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
          Password Reset
        </h2>
        <p class="mt-2 text-center text-sm text-gray-600">
          Please choose a new password.
        </p>
      {% endif %}
    </div>
    {% for message in messages %}
      {% component "alert" text=message variant=message.level alertClass="mt-8 sm:mx-auto sm:w-full sm:max-w-md" %}
    {% endfor %}
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="text-gray-700 text-sm text-center">
          The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}" class="font-medium text-indigo-600 hover:text-indigo-500">new password reset</a>.
        </p>
      {% else %}

        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
          <form method="POST">
            {% csrf_token %}
            <div class="space-y-6">
              {% include "components/form_input.html" with field=form.password1 input_class="block w-full px-3 py-2 placeholder-gray-400" %}
              {% include "components/form_input.html" with field=form.password2 input_class="block w-full px-3 py-2 placeholder-gray-400" %}

              <div class="mt-2 text-sm text-red-600">
                {{form.non_field_errors}}
              </div>

              <div>
                {% component "button" type="submit" variant="primary" text="Confirm New Password" extra_class="w-full flex justify-center" %}
              </div>
            </div>
          </form>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
