{% extends 'layouts/base.html' %}
{% block title %}Signup{% endblock %}
{% block content %}
  <nav>
    <ol role="list" class="bg-gray-50 border-b border-gray-300 divide-y divide-gray-300 md:flex md:divide-y-0 cursor-default">
      {% include "base/steps/upcoming.html" with name="Create Account" index="01" %}
      {% include "base/steps/upcoming.html" with name="Choose Plan" index="02" %}
      {% include "base/steps/upcoming.html" with name="Get Started!" index="03" last=True %}
    </ol>
  </nav>
  <div class="min-h-screen antialiased flex justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-lg w-full">
      <div>
        <a href={%url 'index' %} class="flex justify-center">
          {% include "base/logo.html" %}
        </a>
        <h2 class="mt-4 text-center text-3xl leading-9 font-bold text-gray-900">
          Sign Up Closed
        </h2>
      </div>
      <p class="mt-8 text-gray-700 text-sm text-center">
        We apologize, but sign up is currently closed. Please check back soon.
      </p>

    </div>
  </div>
{% endblock content%}
