{% extends 'layouts/base.html' %}
{% block title %}Signup{% endblock %}
{% load widget_class %}
{% block content %}
  <nav>
    <ol role="list" class="bg-gray-50 border-b border-gray-300 divide-y divide-gray-300 md:flex md:divide-y-0 cursor-default">
      {% include "base/steps/current.html" with name="Create Account" index="01" %}
      {% include "base/steps/upcoming.html" with name="Choose Plan" index="02" %}
      {% include "base/steps/upcoming.html" with name="Get Started!" index="03" last=True %}
    </ol>
  </nav>
  <div class="min-h-screen antialiased flex justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-lg w-full">
      <div>
        <a href="{% url 'index' %}" class="flex justify-center">
          {% include "base/logo.html" %}
        </a>
        <h2 class="mt-4 text-center text-3xl leading-9 font-bold text-gray-900">
          Sign Up
        </h2>
      </div>
      <form class="px-4 py-5 sm:p-6" method="POST">
        {% csrf_token %}
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6 sm:col-span-3">
            {% component "input_field" field=form.first_name input_class="block w-full px-3 py-2 placeholder-gray-400" %}
          </div>

          <div class="col-span-6 sm:col-span-3">
            {% component "input_field" field=form.last_name input_class="block w-full px-3 py-2 placeholder-gray-400" %}
          </div>

          <div class="col-span-6 sm:col-span-4">
            {% component "input_field" field=form.email input_class="block w-full px-3 py-2 placeholder-gray-400" %}
          </div>

          <div class="col-span-6 sm:col-span-4">
            {% component "input_field" field=form.password1 input_class="block w-full px-3 py-2 placeholder-gray-400" %}
          </div>
          {% if form.non_field_errors %}
            <div class="col-span-6 text-sm text-red-600">
              {{form.non_field_errors}}
            </div>
          {% endif %}
          <div class="col-span-6">
            {% component "button" type="submit" variant="primary" text="Create Account" extra_class="w-full flex justify-center" %}
          </div>
        </div>
          <p class="mt-8 text-xs text-gray-400">By clicking "Continue with Google/Github" above or by creating an account with your email address, you acknowledge that you have read and understood, and agree to the <a href="{% url 'terms_of_use' %}" class="text-indigo-700 hover:text-indigo-500">Terms of Use</a> and <a href="{% url 'privacy_policy'%}" class="text-indigo-700 hover:text-indigo-500">Privacy Policy</a>.
      </form>
    </div>
  </div>
{% endblock content%}
